@use "./../foundation/global" as *;

.l-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: $size1;

  &__logo {
    // height: 76px;
    height: max(76px, $size2 * 0.8);
    width: max(94px, $size2);
  }

  &__navbtn {
    all: unset;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    width: max(46px, $size1);
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    color: $c-primary;
  }
  &__navbtn-bar {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    grid-area: 1/1;
    transition: transform 0.5s;
  }

  &__navbtn::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    grid-area: 1/1;
    transition: transform 0.5s;
    transform: translateY(-12px);
  }

  &__navbtn::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    grid-area: 1/1;
    transition: transform 0.5s;
    transform: translateY(12px);
  }

  &__sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  &__nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: linear-gradient(
      0.96deg,
      rgba(84, 96, 63, 0.9) 0.35%,
      rgba(162, 207, 79, 0.9) 182.75%
    );
    color: $c-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 44px;

    transition: transform 0.5s;
  }

  &__nav-logo {
    width: fluid-size(120, 200);
  }
  &__nav-menus {
    font-size: fluid-size(14, 18);
    display: flex;
    gap: 2em;
  }
}

.open .l-header {
  &__navbtn-bar {
    transform: scale(0);
  }

  &__navbtn::before {
    transform: translateY(0) rotate(45deg);
  }
  &__navbtn::after {
    transform: translateY(0) rotate(-45deg);
  }
  &__nav {
    transform: translate(-100%, 0);
  }
  &__navbtn {
    color: $c-white;
    z-index: 200;
  }
}

.open {
  position: fixed;
  overflow: hidden;
  width: 100%;
}
