@use "./../../foundation/global" as *;

.p-home-hero {
  // リファクタリング pcサイズでmarginが0になっていない
  margin-block-start: fluid-margin(15, 0);

  &__heading-wrapper {
    grid-row: 1;
    z-index: 2;
    text-align: right;
  }
  &__heading {
    font-size: fluid-size(53, 146);
    font-family: $f-lora;
    font-weight: 400;
    background: linear-gradient(92.21deg, #54603f 6.06%, #a2cf4f 95.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  &__subtitle {
    font-size: fluid-size(26, 42);
    font-family: $f-serif;
    font-weight: 500;
    line-height: 1.8;
  }
  &__desc {
    font-size: fluid-size(14, 16);
    font-weight: 400;
    line-height: 1.8;
  }

  &__photo01 {
    grid-column: 1/-1;
    grid-row: 1;
    height: 588px;
    margin-block-start: fluid-size(39, 130);
  }
  &__photo02 {
    grid-column: 3/-1;
    height: 180px;
  }

  &__text-wrapper {
    display: contents;
  }

  .c-container > * > * {
    grid-column: 2/-2;
  }
}

@include mq(md) {
  .p-home-hero {
    .c-container {
      grid-template-columns: 1026fr 378fr;
      grid-template-rows: auto $size4;
      column-gap: $size1-half;
      row-gap: 0;
    }

    &__text-wrapper {
      display: revert;
      grid-column: 1/-1;
      grid-row: 1;
      z-index: 2;
      margin-inline-end: $size2;
    }

    &__desc {
      width: 21em;
      margin-block-start: 2em;
      margin-inline-start: auto;
    }

    &__photo01 {
      grid-column: 1;
      grid-row: 1;
      aspect-ratio: 1026/772;
      height: auto;
    }
    &__photo02 {
      grid-column: 2;
      grid-row: 1/-1;
      align-self: end;
      aspect-ratio: 378/648;
      height: auto;
    }
  }
}

// @media (min-width: 768px) and (max-width: 1023px)
@include mq(md-lg) {
  .p-home-hero {
    &__text-wrapper {
      display: contents;
    }
    .p-home-hero__heading-wrapper {
      grid-column: inherit;
      grid-row: inherit;
      margin-inline-end: inherit;
    }
    .p-home-hero__desc {
      grid-column: 1;
      grid-row: 2;
      width: 80%;
      margin-inline-start: $size1;
    }
  }
}

// 装飾
// リファクタリング　floccs deg utility?
.decor {
  position: relative;
  &::before {
    content: "";
    background-color: $c-secondary;
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &::after {
    content: url(../img/Accent.svg);
    width: fluid-size(47, 61);
    position: absolute;
    line-height: 0;
  }
}

.p-home-hero.decor {
  &::before {
    left: 18.67%;
    right: 0%;
    top: 23.69%;
    bottom: -8.24%;

    @include mq(md) {
      left: 47.43%;
      right: 10%;
      top: 40.84%;
      bottom: 16.39%;
    }
  }

  &::after {
    right: 0.8%;
    bottom: -16.4%;
    // リファクタリング
    transform: rotate(-159deg);

    @include mq(md) {
      right: 78.86%;
      bottom: 85.13%;
      // リファクタリング
      transform: rotate(154deg);
    }
  }
}
