@use "./../../foundation/global" as *;

.p-home-third {
  // リファクタリング
  .c-container {
    row-gap: 24px;
  }

  &__text-wrapper {
  }
  &__heading-wrapper {
    grid-column: 2/-2;
  }

  &__num {
    font-size: 6.4rem;
    font-family: $f-lora;
    background: linear-gradient(0.96deg, #54603f 0.35%, #a2cf4f 182.75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  &__heading {
    // リファクタリング？
    font-size: fluid-size(26, 42);
    font-family: $f-serif;
    font-weight: 500;
    line-height: 1.8;

    margin-bottom: 24px;
    @include mq(md) {
      margin-block-end: $size1-half;
    }
  }
  &__desc-wrapper {
    // gridの最後のアイテム
    order: 1;
    grid-column: 4/-2;
  }
  &__desc {
    font-size: fluid-size(16, 18);
    font-weight: 400;
    margin-block-start: 12px;
  }
  &__posts {
    display: flex;
    flex-direction: column;
    gap: 36px;
    @include mq(lg) {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  &__post {
    @include mq(lg) {
      flex: 1;
      max-width: 335px;
    }
  }

  &__post:nth-child(2) {
    @include mq(lg) {
      margin-block-start: 140px;
    }
  }

  &__post:nth-child(3) {
    @include mq(lg) {
      margin-block-start: 280px;
    }
  }

  &__photo {
    height: 360px;
  }

  &__post-desc {
    font-size: fluid-size(16, 18);
    font-weight: 400;
    margin-block-start: 12px;
  }
}

@include mq(md) {
  .p-home-third {
    .c-container {
    }

    &__text-wrapper {
      display: grid;
      grid-template-columns: $size2 1fr;
      grid-template-rows: repeat(2, auto);
      grid-template-areas:
        "num heading2"
        ". desc";
      column-gap: $size1-half;
      align-items: baseline;
    }
    &__heading-wrapper {
      display: contents;
    }
    &__num {
      grid-area: num;
    }
    &__heading {
      grid-area: heading2;
      margin-block-end: $size1-half;
    }
    &__desc {
      grid-area: desc;
      max-width: 34em;
    }

    &__photo01 {
    }
    &__photo02 {
    }
  }
}

// 装飾
// リファクタリング　floccs deg utility?
.decor {
  position: relative;
  &::before {
    content: "";
    background-color: $c-secondary;
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &::after {
    content: url(../img/Accent.svg);
    width: fluid-size(47, 61);
    position: absolute;
    line-height: 0;
  }
}

.p-home-third.decor {
  &::before {
    left: 0%;
    right: 0%;
    top: 30.12%;
    bottom: 13.63%;

    @include mq(lg) {
      left: 0%;
      right: 0%;
      top: 33.61%;
      bottom: 10.37%;
    }
  }

  &::after {
    right: 64.25%;
    bottom: -4.81%;
    // リファクタリング
    transform: rotate(164deg);

    @include mq(lg) {
      right: 65.56%;
      bottom: 4.85%;
      // リファクタリング
      transform: rotate(138deg);
    }
  }
}
